<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CloudiFy API</title>
  <link rel="icon" href="https://daanrox.com/assets/image/rox-footer.png"/>
  <!-- Adicione seus estilos CSS aqui -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #111111;
      text-align: center;
      padding: 20px;
      color: white
    }
    .title {
      color: #f442dc;
    }
  </style>
</head>
<body>
    <h1 class="title">CLOUDIFY API</h1>
    <h1>Descrição</h1>
        <p>A API CloudiFy oferece uma solução eficiente para a conversão e o gerenciamento de imagens hospedadas em qualquer banco de imagem, possibilitando a transferência direta para os servidores da Cloudinary.</p>
        <p> Essa funcionalidade é ideal para usuários que desejam consolidar e centralizar o armazenamento de suas imagens, garantindo a segurança e flexibilidade proporcionadas pela plataforma Cloudinary.</p>
    
    <h1>Principais Características:</h1>
        <p><strong>Conversão Simples:</strong> A API permite a conversão fácil de um link de imagem hospedada em qualquer serviço para os servidores da Cloudinary. Basta fornecer o link da imagem desejada, e a CloudiFy cuidará do processo de transferência.</p>
        <p><strong>Centralização do Armazenamento:</strong> Ao utilizar a CloudiFy, os usuários podem centralizar suas imagens em um único local, simplificando a gestão e organização do conteúdo visual.</p>
        <p><strong>Integração com Cloudinary: </strong>A API se integra perfeitamente com os serviços da Cloudinary, garantindo um processo fluido de transferência e armazenamento de imagens na conta do usuário.</p>
        <p><strong>Obtenção de Informações Adicionais:</strong> Além da conversão, a CloudiFy fornece informações importantes sobre a imagem processada, incluindo detalhes como dimensões, formato e outros metadados relevantes.</p>
        <p><strong>Flexibilidade de Uso:</strong> A CloudiFy é projetada para ser flexível e adaptável, permitindo que desenvolvedores e usuários personalizem a integração de acordo com suas necessidades específicas.</p>
    
    <h1>Como Usar</h1>
        <p>Envie uma requisição POST para <strong>/api/upload</strong> fornecendo o cabeçalho link com o URL da imagem que deseja transferir.</p>
        <p>A CloudiFy processará a requisição, realizará a transferência da imagem para os servidores da Cloudinary e fornecerá informações detalhadas sobre o processo.</p>
        <p>Acesse as imagens transferidas na sua conta da Cloudinary para visualização e gerenciamento centralizado.</p>

    <h1>Desenvolvedor</h1>
        <p style="color: #f442dc;">Daanrox</p>
        <p>contato@daanrox.com</p>
        <p><a href='https://wa.me/5531992812273' target="_blank">+5531992812273</a></p>
        <br/>
        <br/>
        <p>A CloudiFy é a solução ideal para usuários que buscam simplificar o armazenamento e a gestão de suas imagens, proporcionando uma transição suave para a infraestrutura robusta e confiável da Cloudinary.</p>

    <!-- Adicione outros elementos HTML conforme necessário -->
</body>
</html>